//选项abcd过滤  过滤器的使用
function filtrationAbcd(value) {
  var returnValue = ""
  if (value == 0) {
    returnValue = "A"
    return returnValue
  } else if (value == 1) {
    returnValue = "B"
    return returnValue
  } else if (value == 2) {
    returnValue = "C"
    return returnValue
  } else if (value == 3) {
    returnValue = "D"
    return returnValue
  } else if (value == 4) {
    returnValue = "E"
    return returnValue
  } else if (value == 5) {
    returnValue = "F"
    return returnValue
  } else if (value == 6) {
    returnValue = "G"
    return returnValue
  }
}

function defineIndexOf(str, val) {
  return str.indexOf(val);
}

//判断两个数组有共同参数
function compare(arr1, arr2) {
  // return arr1.some(item => arr2.includes(item))
}

//格式化时间
function timeGeshi(value) {
  var time = getDate(value * 1000)
  var minute = time.getMinutes()
  var second = time.getSeconds()
  minute = minute < 10 ? '0' + minute : minute
  second = second < 10 ? '0' + second : second
  return minute + ':' + second
}

//格式化时间--评分页面单独使用
function pingFenTimeGeshi(value) {
  console.log("value",value)
  var t = value * 1000
  var HOUR = 1000 * 60 * 60;
  var h = parseInt((t % (HOUR * 24)) / (HOUR));
  var m = parseInt((t % (HOUR)) / (1000 * 60));
  var s = parseInt((t % (1000 * 60)) / 1000);
  console.log("time",t)
  console.log("hours",h)
  console.log("minute",m)
  console.log("second",s)

  h = h < 10 ? '0' + h : h
  m = m < 10 ? '0' + m : m
  s = s < 10 ? '0' + s : s
  return h + ':' + m + ':' + s
}

module.exports = {
  filtrationAbcd: filtrationAbcd,
  defineIndexOf: defineIndexOf,
  compare: compare,
  timeGeshi: timeGeshi,
  pingFenTimeGeshi: pingFenTimeGeshi
}